// Colors
$grey: #333333;
$light-blue: lightblue;

// Navigation colors
$nav-background: $grey;
$nav-text-color: white;

// Clock 
$clock-color: $light-blue;
$clock-text-color: white;
$clock-border-color:blue;